<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ca marche?</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/stylesheets/app.css" />
    <link rel="icon" type="image/png" href="/public/favicon.png" />
  </head>
  <body>
    <main>
      <section>
        <div class="header-container">
          <img src="/public/images/infomaniak.svg" alt="infomaniak" />
          <h1 class="title">Welcome to your new website</h1>
        </div>
        <div class="cards-container">
          <div class="card">
            <img class="icon" src="/public/images/rocket.svg" alt="rocket" />
            <div class="card-content">
              <h2 class="title">Getting started</h2>
              <div>
                Use the
                <a href="https://manager.infomaniak.com">Infomaniak Manager</a>
                Console to start.
              </div>
            </div>
          </div>
          <div class="card">
            <img
              class="icon"
              src="/public/images/question.svg"
              alt="question"
            />
            <div class="card-content">
              <h2 class="title">Need help?</h2>
              <div>
                Please visit our
                <a href="https://faq.infomaniak.com">FAQ</a> page.
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <span>
        Hosted by <a href="https://www.infomaniak.com">Infomaniak</a>, the Swiss
        company that offers quality products with excellent customer service at
        the best prices.
      </span>
    </footer>
  </body>
</html>
